button {
    background-color: #1c87c9;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize
}

@keyframes glowingGreen {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }

    50% {
        background-color: #49e819;
        box-shadow: 0 0 20px #49e819;
    }

    100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px #2ba805;
    }
}

@keyframes glowingRed {
    0% {
        background-color: red;
        box-shadow: 0 0 5px red;
    }

    50% {
        background-color: red;
        box-shadow: 0 0 20px red;
    }

    100% {
        background-color: red;
        box-shadow: 0 0 5px red;
    }
}

.vacant {
    animation: glowingGreen 1300ms infinite;
}

.occupied {
    animation: glowingRed 1300ms infinite;
}